<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetStoreSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.PetModule.AddPetToStore"/>
      <class name="com.PetModule.GetPet"/>
      <class name="com.PetModule.PetDelete"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- PetStoreSuite -->
